/* CSS/style.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
}

video {
    width: 400px;
    height: 400px;
}

.button-container {
    display: flex;
    gap: 10px;
}
